<div *ngIf="album" class="album"
     (keydown)="test($event)"
     tabindex="0"
>
    <app-toolbar [album]="album"></app-toolbar>
  <div>
    <mat-icon
      *ngIf="navBackwards"
      (click)="back()"
      class="navig left"
    >
      keyboard_arrow_left
    </mat-icon>
    <mat-icon
      *ngIf="navForwards"
      (click)="forward()"
      class="navig right"
    >
      keyboard_arrow_right
    </mat-icon>
  </div>
  <div class="chips">
      <app-chip-lists [album]="album"
                      [removable]="false"
                      [editable]="true"
                      [showimage]="false"
      ></app-chip-lists>
  </div>
  <div class="row">
    <div class="col first">
        <img src="{{ imgUrl }}{{ album.ID }}/album/400/-1"
             (click)="openPic('front')"
             class="thumb">
    </div>
    <div class="col">
      <img *ngIf="album.album_back_image"
           src="{{ imgBackUrl }}{{ album.ID }}/album/100/-1"
           (click)="openPic('back')"
           class="back-thumb">
      <app-album-metatags [album]="album"></app-album-metatags>
    </div>
  </div>
  <div class="row cuesheets">
    <div class="col">
      <app-album-cuesheets [cuesheets]="album.cuesheets"
                           [idpiece]="idpiece"
                           [album]="album"></app-album-cuesheets>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="opener">
        <div class="count">{{ album.pieces.length }}</div>
        <mat-icon (click)="openPieces()"
                  title="view {{ album.pieces.length }} pieces"
                  [class.expanded]="album.expanded"
                  waves-light waves-effect
        >{{ chevron }}
        </mat-icon>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col pieces" [class.visible]="album.expanded">
      <app-album-pieces [pieces]="album.pieces"
                        [idpiece]="idpiece"
                        [album]="album"
      ></app-album-pieces>
    </div>
  </div>
</div>
