<mat-card class="author-card">
  <div class="author-header">
    <span (click)="toComposer()"
          [title]="composer.ID"
          class="link">
      {{ composer.FirstName }} {{ composer.LastName}}
    </span>
    <div class="composer-menu">
      <app-componist-edit-menu
        [composer]="composer"
        (composerChange)="changeComposer()"
        (close)="onClose($event)"
        (wiki)="changeWiki($event)"
      ></app-componist-edit-menu>
    </div>
  </div>
  <div class="image-container">
    <img [src]="viewUrl + composer.ID + refresh"
         default="assets/images/one.png"
         class="composer-image" alt="afbeelding regisseur">
  </div>
  <mat-card-content>
    <form [formGroup]="formGroup"
          novalidate
          class="form"
          (ngSubmit)="save()">
      <mat-form-field class="{{ option.name }}" *ngFor="let option of options">
        <!--<img [src]="composer.ImageUrl + refresh" *ngIf="option.name == 'ImageUrl' && composer.ImageUrl"-->
             <!--class="thumb" alt="composer picture">-->
        <input matInput [placeholder]="option.label" [title]="option.label"
               [name]="option.name" [formControlName]="option.name">
        <mat-error *ngIf="hasError('LastName', 'required')">Achternaam is verplicht</mat-error>

      </mat-form-field>
      <button mat-raised-button color="primary"
              [disabled]="!formGroup.valid">Bewaar</button>
    </form>
    <button mat-flat-button (click)="closeDialog()" class="button-remove"
    >Annuleren</button>
  </mat-card-content>
</mat-card>
