<div *ngIf="lwdata">
  <h2>{{ lwdata.plaats }}</h2>
  <h4>      <img src="assets/weer/{{ lwdata.image }}.png">
    {{ lwdata.verw }}</h4>
  <ul>
    <li>
      windsnelheid: {{ lwdata.winds }}
    </li>
    <li>
      windrichting: {{ lwdata.windr }}
    </li>
    <li>
      zon op: {{ lwdata.sup }},
      zon onder: {{ lwdata.sunder }}
    </li>
    <li>
      temp: {{ lwdata.temp }}&deg;,
      min: {{ lwdata.d0tmin }}&deg;,
      max: {{ lwdata.d0tmax }}&deg;
    </li>
    <li>
    </li>
  </ul>
</div>

