<div class="movie-menu">
  <button mat-icon-button
          class="movie-menu-trigger"
          (click)="$event.stopPropagation()"
          [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <button mat-menu-item
            (click)="play()"
    >
      <mat-icon class="movie-control play"
                waves-light waves-effect
      >play_arrow
      </mat-icon>
      <span>Play</span>
    </button>

    <button mat-menu-item
            (click)="toImdb()"
    >
      <mat-icon class="movie-control imdb"
                waves-light waves-effect
      >movie
      </mat-icon>
      <span>IMDb</span>
    </button>

    <button mat-menu-item
            (click)="toDetails()"
    >
      <mat-icon class="movie-control details"
                waves-light waves-effect
      >movie
      </mat-icon>
      <span>Details</span>
    </button>

    <button mat-menu-item
            (click)="getImage()"
    >
      <mat-icon class="movie-control"
                waves-light waves-effect
      >image
      </mat-icon>
      <span>Afbeelding ophalen</span>
    </button>

    <button mat-menu-item
            *ngIf="unwatch"
            (click)="setUnwatch()"
    >
      <mat-icon class="movie-control unwatch"
                waves-light waves-effect
      >clear
      </mat-icon>
      <span>Uit kijklijst</span>
    </button>

  </mat-menu>
</div>
