<div #topicTitle contenteditable="true"
      class="title"
      [textContent]="personName"
      (input)="model=topicTitle.innerText"
      (keydown)="nameKeydown($event, topicTitle.innerText)">
</div>
<div #birth contenteditable="true"
     class="title"
     [textContent]="personBirth"
     (input)="model=topicTitle.innerText"
     (keydown)="birthKeydown($event, birth.innerText)">
</div>
<div #death contenteditable="true"
     class="title"
     [textContent]="personDeath"
     (input)="model=topicTitle.innerText"
     (keydown)="deathKeydown($event, death.innerText)">
</div>
<img src="{{ imgUrl }}{{ data.person.ID }}/{{ data.type }}" class="thumb">
<mat-dialog-actions class="controls">
  <a href="{{googleUrl + data.person.FullName }}"
     target="'person"
     style="width: 100%"
  >
    <button
      mat-menu-item
      waves-light waves-effect mdbRippleRadius
    >
      <mat-icon
        class="album-control">
        search</mat-icon>
      <span>Google</span>
    </button>
  </a>
  <button
    mat-menu-item
    waves-light waves-effect mdbRippleRadius
    (click)="paste()"
  >
    <mat-icon
      class="album-control">
      content_paste</mat-icon>
    <span>Paste image</span>
  </button>
  <button
    mat-menu-item
    waves-light waves-effect mdbRippleRadius
    (click)="toSearch()"
  >
    <mat-icon
      class="album-control">
      assignment</mat-icon>
    <span>Albums</span>
    (<span>{{ albumCount }}</span>)
  </button>
</mat-dialog-actions>
