@import "../app-variables";

.thumb {
  width: 200px;
}
.album-control {
  cursor: pointer;
  padding: 2px 4px;
  margin: 0 6px;
  transition: color $control-hover-transition-time;
  font-size: 18px;
  &:hover {
    color: $control-hover-color;
  }
}
.controls {
  margin-top: 12px;
}
