<div *ngFor="let cuesheet of cuesheets"
>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>

        <mat-icon
          [class.play-cuesheet-played]="cuesheet.played"
          [class.play-cuesheet-invalid]="cuesheet.Invalid"
          class="play play-cuesheet"
          waves-light waves-effect
          (click)="play($event, cuesheet.ID)">
          play_circle_filled</mat-icon>

          <span mat-line
                class="title"
                [class.selected]="cuesheet.ID == idpiece">
            {{ cuesheet.Title }}
          </span>

      </mat-expansion-panel-header>
      <app-cuesheet-parts
        [album]="album"
        [cuesheet]="cuesheet"
        (titleChange)="cuesheet.Title = $event.title"
        (removed)="removed()"
      ></app-cuesheet-parts>
    </mat-expansion-panel>
  </mat-accordion>
</div>
