<mat-chip-list class="composers">
  <mat-chip *ngFor="let composer of album.album_componisten "
            [removable]="removable" (remove)="removeComposer(composer)">
    <!--<img src="{{ imgUrl }}{{ composer.ID }}/componist" class="avatar">-->
    <a (click)="toComposer(composer)">{{ composer.FullName }}</a>
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>
  <mat-chip (click)="openAddComposer()">+</mat-chip>
</mat-chip-list>
<mat-chip-list class="performers">
  <mat-chip *ngFor="let performer of album.album_performers"
            [removable]="removable" (remove)="removePerformer(performer)">
    <!--<img src="{{ imgUrl }}{{ performer.ID }}/performer" class="avatar">-->
    <a (click)="toPerformer(performer)">{{ performer.FullName }}</a>
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>
  <mat-chip (click)="openAddComposer()">+</mat-chip>
</mat-chip-list>
<mat-chip-list class="tags">
  <mat-chip *ngFor="let tag of album.album_tags"
            [removable]="removable" (remove)="removeTag(tag)">
    <a (click)="toTag(tag)">{{ tag.Name }}</a>
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>
  <mat-chip (click)="openAddComposer()">+</mat-chip>
</mat-chip-list>
