<mat-chip-list>
  <mat-chip *ngFor="let composer of album.album_componisten "
            class="composers"
            [removable]="removable"
            (remove)="removeComposer(composer)">
    <img src="{{ imgUrl }}{{ composer.ID }}/componist"
         (click)="openPicComposer(composer.ID)"
         class="avatar">
    <a (click)="toComposer(composer)">{{ composer.FullName }}</a>
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>
  <!--<mat-chip (click)="openAddComposer()">+</mat-chip>-->
  <mat-chip *ngFor="let performer of album.album_performers"
            class="performers"
            [removable]="removable"
            (remove)="removePerformer(performer)">
    <img src="{{ imgUrl }}{{ performer.ID }}/performer"
         (click)="openPicPerformer(performer.ID)"
         class="avatar">
    <a (click)="toPerformer(performer)">{{ performer.FullName }}</a>
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>
  <mat-chip *ngFor="let tag of album.album_tags"
            class="tag-chip"
            [removable]="removable"
            (remove)="removeTag(tag)">
    <a (click)="toTag(tag)">{{ tag.Name }}</a>
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>
</mat-chip-list>
