<mat-progress-spinner *ngIf="!book"></mat-progress-spinner>
<div class="book-card" *ngIf="book">
    <a class="link" [routerLink]="['/books', book.id]">
    <mat-card class="book-card">
      <mat-card-header class="book-header">
        <mat-card-title>
          {{ book.title }}
          <span *ngIf="book.date"> ({{ book.date }})</span>
        </mat-card-title>
        <mat-card-title>
          {{ book.subtitle }}
        </mat-card-title>
      </mat-card-header>
      <div class="image-container">
        <img mat-card-image [src]="getImageSource()" alt="cover missing"
             class="book-image">
      </div>
      <mat-card-content class="book-card-content">
        <a class="link"
           [routerLink]="['/author', book.author_id]">
          {{ book.author }}
        </a>
        <div class="translator">{{ book.translator }}</div>
        <div class="pubinfo">{{ book.pubinfo }}</div>
        <button (click)="scanCover($event)">scan</button> |
        <button (click)="finishCover($event)">finish</button> |
        <button (click)="getCover($event)" [disabled]="!book.imgurl">get</button>
      </mat-card-content>
    </mat-card>
    </a>
</div>

