<!--<mat-progress-spinner *ngIf="!book"></mat-progress-spinner>-->
<div class="book-card" *ngIf="book">
    <mat-card class="book-card">
      <mat-card-header class="book-header">
        <mat-card-title class="book-title">
          {{ book.title }}
          <span *ngIf="book.date"> ({{ book.date }})</span>
        </mat-card-title>
        <mat-card-title class="book-subtitle">
          {{ book.subtitle }}
        </mat-card-title>
        <div class="genre">{{ book.genre}}</div>
      </mat-card-header>
      <div class="image-container">
        <img mat-card-image [src]="getImageSource()" alt=""
             class="book-image">
      </div>
      <mat-card-content class="book-card-content">
        <div class="book-footer">
          <div class="author">
            <a class="link"
               [routerLink]="['/author', book.author_id]">
              {{ book.author }}
            </a>
          </div>
          <div class="translator">{{ book.translator }}</div>
          <div class="pubinfo">{{ book.pubinfo }}</div>
        </div>
        <button (click)="scanCover($event)">scan</button> |
        <button (click)="finishCover($event)">finish</button> |
        <button (click)="getCover($event)" [disabled]="!book.imgurl">get</button>
      </mat-card-content>
    </mat-card>
</div>

