.book-card {
  width: 240px;
  height: 650px;
  margin: 30px;
  //margin: 20px auto;
}
.book-card-content {
  font-size: 18px;
}
.book-image {
}
.book-header {
  height: 160px;
  overflow: auto;
}
.book-container {
  height: 316px;
  overflow: hidden;
  margin: 0 -16px;
}
.image-container {
  overflow: hidden;
  height: 365px;
}
.translator {
  font-style: italic;
}
