<mat-chip-list *ngIf="album">
  <mat-chip *ngFor="let composer of album.album_componisten "
            class="composers"
            [removable]="removable"
            (remove)="removeComposer(composer)">
    <img
      *ngIf="showimage"
      src="{{ imgUrl }}{{ composer.ID }}/componist/-1/20"
      (click)="openPicComposer(composer)"
      class="avatar">
    <a (click)="toComposer(composer)">{{ composer.FullName }}</a>
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>
  <!--<mat-chip (click)="openAddComposer()">+</mat-chip>-->
  <mat-chip *ngFor="let performer of album.album_performers"
            class="performers"
            [removable]="removable"
            (remove)="removePerformer(performer)">
    <img
      *ngIf="showimage"
      src="{{ imgUrl }}{{ performer.ID }}/performer/-1/20"
      (click)="openPicPerformer(performer)"
      class="avatar">
    <a (click)="toPerformer(performer)">{{ performer.FullName }}</a>
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>
  <mat-chip *ngFor="let tag of album.album_tags"
            class="tag-chip"
            [class.elevate]="showimage"
            [removable]="removable"
            (remove)="removeTag(tag)">
    <a (click)="toTag(tag)">{{ tag.Name }}</a>
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>
</mat-chip-list>
