.avatar {
  height: 20px;
  border-radius: 6px;
  margin-right: 4px;
}
.composers.mat-chip:not(.mat-basic-chip) {
  background-color: #ffeeee;
}
.performers.mat-chip:not(.mat-basic-chip) {
  background-color: #eeffee;
}
.instrument.mat-chip:not(.mat-basic-chip) {
  background-color: #eeeeff;
}
.elevate {
  position: relative;
  top: -6px;
}
.tag-chip {
  background-color: #efefef;
}
