.play {
  opacity: .3;
  position: relative;
  top: 7px;
  color: orange;
  cursor: pointer;
}
.edit {
  opacity: .6;
  position: relative;
  top: 1px;
  color: brown;
  cursor: pointer;
  font-size: 14px;
}
