<div *ngFor="let cuesheet of cuesheets">
  <mat-icon
    [class.played]="cuesheet.played"
    class="play"
    waves-light waves-effect mdbRippleRadius
    (click)="play(cuesheet.ID)">
    play_circle_filled</mat-icon>
  <span #topicTitle contenteditable="true"
       class="title"
       [textContent]="cuesheet.Title"
       (input)="model=topicTitle.innerText"
       (keydown)="titleKeydown($event, cuesheet.ID, topicTitle.innerText)">
  </span>
  <span *ngIf="cuesheet.cue.performer">
    ({{ cuesheet.cue.performer }})
  </span>
  <span *ngIf="cuesheet.discid || cuesheet.asin">
    [
    <a href="{{ freedbUrl }}{{ cuesheet.discid }}" target="freedb">
      {{ cuesheet.discid }}</a>,
    <a href="{{ amazonUrl }}{{ cuesheet.asin }}" target="amazon">
      {{ cuesheet.asin }}</a>
    ]
  </span>
  <mat-icon class="edit"
            waves-light waves-effect mdbRippleRadius
            (click)="edit(cuesheet.ID)">
    edit
  </mat-icon>
  <mat-icon class="rename"
            *ngIf="renaming"
            waves-light waves-effect mdbRippleRadius
            (click)="rename(cuesheet)">
    edit
  </mat-icon>
</div>
