<div class="directors" *ngIf="directors">

  <div class="header">
    Regisseurs ({{ directors.length }})
    <span *ngIf="filteredCount">({{ filteredCount }})</span>
  </div>

  <mat-form-field>
    <input
      #filterInput
      matInput
      autofocus
      (keyup)="applyFilter($event.target['value'])"
      placeholder="Filter">
    <button
      *ngIf="filterInput.value.length"
      mat-button mat-icon-button matSuffix
      (click)="clearFilter(filterInput); filterInput.focus()"
      class="clear-filter"
    ><mat-icon>close</mat-icon></button>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows
         class="mat-elevation-z8">
    <ng-container matColumnDef="Voornaam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Voornaam </th>
      <td mat-cell *matCellDef="let element"> {{ element.Voornaam }} </td>
    </ng-container>
    <ng-container matColumnDef="Achternaam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Achternaam </th>
      <td mat-cell *matCellDef="let element"> {{ element.Achternaam }} </td>
    </ng-container>
    <ng-container matColumnDef="Geboortejaar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Geboren </th>
      <td mat-cell *matCellDef="let element"> {{ element.Geboortejaar }} </td>
    </ng-container>
    <ng-container matColumnDef="Sterfjaar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dood </th>
      <td mat-cell *matCellDef="let element"> {{ element.Sterfjaar }} </td>
    </ng-container>
    <ng-container matColumnDef="ImageUrl">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: right"> Afbeelding </th>
      <td mat-cell *matCellDef="let element" style="text-align: right"> {{ element.ImageUrl }} </td>
    </ng-container>
    <ng-container matColumnDef="imdb_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> imDB </th>
      <td mat-cell *matCellDef="let element"> {{ element.imdb_id }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"
        [title]="row.id"
        (click)="edit(row)" [class.deleted]="row.deleted"
    ></tr>
  </table>
</div>
