@import "../app-variables";

.horizontal-spacer {
  flex: 1 1 auto;
}
.sub {
  font-size: 14px;
  color: #999999;
  height: 30px;
  padding-bottom: 18px;
}
.title {
  font-size: 20px;
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.album-control {
  cursor: pointer;
  padding: 2px 4px;
  margin: 0 6px;
  transition: color $control-hover-transition-time;
  font-size: 18px;
  &:hover {
    color: $control-hover-color;
  }
}
.navig {
  cursor: pointer;
}
.disabled {
  opacity: .3;
}
