<mat-toolbar style="margin: -14px 0 0;">
  <mat-toolbar-row>
    <div #topicTitle contenteditable="true"
         class="title"
         [textContent]="album.Title"
         (input)="model=topicTitle.innerText"
         (keydown)="albumTitleKeydown($event, album.ID, topicTitle.innerText)">
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="sub">
    <mat-icon (click)="back()"
              class="navig"
              [class.disabled]="!navBackwards"
    >keyboard_arrow_left</mat-icon>
    <a  (click)="toSearch()">
      {{ searchTitle }}
    </a>
    <mat-icon (click)="forward()"
              class="navig"
              [class.disabled]="!navForwards"
    >keyboard_arrow_right</mat-icon>
    <span class="horizontal-spacer"></span>
    <mat-icon class="album-control"
              waves-light waves-effect mdbRippleRadius
              matTooltip="Reveal in Finder"
              (click)="openFinder(album.ID)"
    >open_in_browser</mat-icon>
    <mat-icon class="album-control"
              waves-light waves-effect mdbRippleRadius
              (click)="refetch(album.ID)"
              matTooltip="Refetch pieces and cuesheets"
    >replay
    </mat-icon>
    <mat-icon class="album-control"
              waves-light waves-effect mdbRippleRadius
              (click)="pause()"
              matTooltip="Pause player"
    >pause</mat-icon>
    <mat-icon class="album-control"
              waves-light waves-effect mdbRippleRadius
              (click)="tagedit()"
              matTooltip="Tag Editor"
    >edit</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
