<div class="home">
  <div class="action-buttons">
    <button mat-button *ngFor="let facet of facets | keyvalue: rankOrder"
            (click)="add(facet.value)"
    >
      <mat-icon>{{ facet.value.icon }}</mat-icon>
      {{ facet.value.name }}
    </button>
  </div>

  <mat-form-field class="form-field" *ngIf="model">
    <input type="text" title=""
           [placeholder]="model.placeholder" matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="makeChip($event.option.value)"
      [displayWith]="displayFn">
      <mat-option *ngFor="let item of model.filteredItems | async" [value]="item">
        {{ item[model.displayField] }}
      </mat-option>
    </mat-autocomplete>
    <button *ngIf="myControl.value" mat-button=""
            aria-label="Clear" class="closer" matSuffix mat-icon-button
            (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="divider"></div>

  <mat-chip-list class="chips">
    <mat-chip *ngFor="let chip of chips"
              [removable]="true"
              (removed)="remove(chip)"
              [style.backgroundColor]="chip.color">
      {{ chip.name}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <button mat-icon-button (click)="clearChips()" *ngIf="chips.length">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-chip-list>

  <app-album-list
    [albums]="albums"
  ></app-album-list>

</div>
