@import "../app/app-variables";

.home .mat-fab .mat-button-wrapper {
  padding: 0;
}
.container-main .mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent;
}
.search {
  .form-field .mat-form-field-infix {
    padding-right: 30px;
  }
  .form-field .mat-form-field-underline {
    height: 0;
  }
}
.dialog-customize {
  .mat-selection-list:focus {
    outline: 0 solid transparent;
  }
}
.mat-form-field {
  font-size: 20px;
}
