<mat-chip-list *ngIf="album">
  <mat-chip *ngFor="let composer of album.album_componisten"
            class="composers">
    {{ composer.FullName }}
  </mat-chip>
  <mat-chip *ngFor="let performer of album.album_performers"
            class="performers">
  {{ performer.FullName }}
  </mat-chip>
  <mat-chip *ngFor="let tag of album.album_tags"
            class="tag-chip">
    {{ tag.Name }}
  </mat-chip>
  <mat-chip *ngIf="album.album_instrument && album.album_instrument.Name &&
  album.album_instrument.Name.length > 0"
            class="instrument">
    {{ album.album_instrument.Name }}
  </mat-chip>
</mat-chip-list>
