<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon class="menu-trigger">more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <!-- Name cuesheet from filename -->
  <!--<button mat-menu-item-->
          <!--(click)="nameFromFilename(cuesheet)">-->
    <!--<mat-icon class="rename"-->
              <!--waves-light waves-effect mdbRippleRadius>-->
      <!--edit-->
    <!--</mat-icon><span>Take name from filename</span>-->
  <!--</button>-->
  <!-- Change filename to cuesheet name -->
  <!--<button mat-menu-item-->
          <!--(click)="nameToFilename(cuesheet)">-->
    <!--<mat-icon class="rename"-->
              <!--waves-light waves-effect mdbRippleRadius>-->
      <!--edit-->
    <!--</mat-icon><span>Change filename to cuesheet name</span>-->
  <!--</button>-->
  <!-- View cuesheet -->
  <button mat-menu-item
          (click)="showParts(cuesheet)">
    <mat-icon class="edit"
              waves-light waves-effect>
      list_alt
    </mat-icon><span>Inhoud</span>
  </button>
  <!-- Edit cuesheet -->
  <button mat-menu-item
          (click)="edit(cuesheet.ID)">
    <mat-icon class="edit"
              waves-light waves-effect>
      edit
    </mat-icon><span>Bewerk</span>
  </button>
  <!-- Rename cuesheet -->
  <button mat-menu-item
          (click)="rename(cuesheet)">
    <mat-icon class="rename"
              style="color: orange"
              waves-light waves-effect>
      edit
    </mat-icon>
    <span>Hernoem</span>
  </button>
  <!-- Delete cuesheet -->
  <button mat-menu-item
          (click)="delete(cuesheet)">
    <mat-icon class="delete"
              waves-light waves-effect>
      delete
    </mat-icon><span>Verwijder</span>
  </button>
</mat-menu>
