.file-play {
  opacity: .5;
  position: relative;
  top: 7px;
  color: blue;
  cursor: pointer;
}
.file-played {
  color: green;
}
.text-container {
  display: inline-block;
  padding: 12px 0 0 12px;
}
.parts-lists {
  height: 240px;
  overflow-y: auto;
  line-height: 2;
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
  & > div {

  }
}
.part-line {
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
