<div class="cuesheet-parts">

  <span *ngIf="performers">
    <span>performers: </span>
      <a *ngFor="let p of performers; let i = index"
         title="add performer"
         (click)="addPerformer(p)">
        {{ p }}<span *ngIf="i < performers.length - 1"
      >,</span>
      </a>
  </span>

  <div class="parts-lists">
      <div
        class="part-line"
        *ngFor="let trackname of tracknames">
        <span>{{ trackname }}</span>
      </div>

      <div
        class="part-line link"
        *ngFor="let file of files"
        (click)="play(file)"
        [class.file-played]="file.played"
      >
        <!--<mat-icon class="file-play"-->
        <!--waves-light waves-effect-->
        <!--[class.file-played]="file.played"-->
        <!--(click)="play(file)">-->
        <!--play_circle_filled</mat-icon>-->
        <span mat-line>{{ stripExtension(file.name) }}</span>
      </div>
  </div>

</div>

<!--<mat-action-row>-->
  <!--<app-cuesheet-actions [cuesheet]="cuesheet"-->
                        <!--[album]="album"-->
                        <!--(titleChange)="changeTitle($event)"-->
                        <!--(removed)="emitRemoved()"-->
  <!--&gt;</app-cuesheet-actions>-->
<!--</mat-action-row>-->
