<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark
bg-grey scrolling-navbar" [containerInside]="false">
  <logo>
    <a class="nav-link" href="/" style="color:white">
    <mat-icon>library_music</mat-icon>
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" mdbRippleRadius
          [class.active]="prouter.url.indexOf('/search') === 0">
        <a class="nav-link" href="search">Search</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius
          [class.active]="prouter.url.indexOf('/componist') === 0">
        <a class="nav-link" href="componist">Componist</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius
          [class.active]="prouter.url.indexOf('/performer') === 0">
        <a class="nav-link" href="performer">Performer</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius
          [class.active]="prouter.url.indexOf('/code') === 0">
        <a class="nav-link" href="code">Code</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius
          [class.active]="prouter.url.indexOf('/tools') === 0">
        <a class="nav-link" href="tools">Tools</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius
          [class.active]="prouter.url.indexOf('/settings') === 0">
        <a class="nav-link" href="settings">Settings</a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-backward"
                               (click)="play('previous')"
        ></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-forward"
                               (click)="play('next')"
        ></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-pause"
                               (click)="play('pause')"
        ></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-stop"
                               (click)="play('stop')"
        ></i></a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<main>
  <div class="container" style="margin-top: 80px;">
    <router-outlet></router-outlet>
    <!-- Routed views go here -->
  </div>
</main>
