<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<label>Path</label>
<input type="text" placeholder="album path"
       (click)="selectPath($event)"
       (keydown)="albumPath($event)"
       [(ngModel)]="path"
       class="luister-path"
>
<a href="{{albumHref}}">{{ albumTitle }}</a>
<datalist id="composers">
  <option *ngFor="let opt of composers" value="{{ opt.Name }}"></option>
</datalist>
<input type="text" list="composers" [(ngModel)]="composer">
<select [(ngModel)]="selectedComposerId">
  <option *ngFor="let opt of composers" value="{{ opt.ID }}">{{ opt.Name }}</option>
</select>
<button (click)="getAlbumsComponist(selectedComposerId)">get</button>

<div #topicTitle contenteditable="true" [textContent]="testTitle"
     (input)="model=topicTitle.innerText"
     (keydown)="albumTitleKeydown($event, 1, topicTitle.innerText)"></div>

<ul>
  <li *ngFor="let mother of albums.mothers">
    <div #topicTitle contenteditable="true" [textContent]="mother.Title"
         (input)="model=topicTitle.innerText"
         (keydown)="albumTitleKeydown($event, mother.ID, topicTitle.innerText)"></div>
  </li>

</ul>
<ul>
  <li *ngFor="let child of albums.children">{{ child.Title }}</li>
</ul>
