<div #maindiv class="app-container">

  <mat-toolbar class="app-toolbar">
    <mat-icon (click)="sidenav.toggle()">dehaze</mat-icon>
    <h2>{{ title }}</h2>
    <span class="horizontal-spacer"></span>
    <!--<button mat-button>-->
      <!--<mat-icon  (click)="toggleTheme()"-->
                 <!--class="control">-->
        <!--stop</mat-icon>&nbsp;-->
    <!--</button>-->
    <button mat-button>
      <mat-icon  (click)="play('pause')"
                 class="play-control">
        pause_circle</mat-icon>&nbsp;
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav mode="over">
      <nav>
        <h2>
          {{ appTitle }}
          <button mat-button (click)="sidenav.close()">
            <mat-icon>close</mat-icon>
          </button>
        </h2>
        <a routerLinkActive="selected"
           (click)="sidenav.close()"
           [routerLink]="link.href"
           *ngFor="let link of links">
          <mat-icon [style.color]="link.color">
            {{ link.icon }}</mat-icon>
          {{ link.label }}
        </a>
      </nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <main>
        <div class="container-outlet">
          <router-outlet></router-outlet>
          <!-- Routed views go here -->
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
