<mat-card *ngIf="album" class="album " style="margin-bottom: 20px;">
  <div class="row">
    <div class="col">
      <app-toolbar [album]="album"></app-toolbar>
    </div>
  </div>
  <div class="row chips">
    <div class="col">
      <app-chip-lists [album]="album"
                      [removable]="false"
                      [editable]="false"
                      [showimage]="false"
      ></app-chip-lists>
    </div>
  </div>
  <div class="row">
    <div class="col first">
        <img src="{{ imgUrl }}{{ album.ID }}/album/300/-1"
             (click)="openPic('front')"
             class="thumb">
    </div>
    <div class="col">
      <app-album-metatags [album]="album"></app-album-metatags>
      <img *ngIf="album.album_back_image"
           src="{{ imgBackUrl }}{{ album.ID }}/album/100/-1"
           (click)="openPic('back')"
           class="back-thumb">
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col">
      <app-album-cuesheets [cuesheets]="album.cuesheets" [albumid]="album.ID"></app-album-cuesheets>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="opener">
        <div class="count">{{ album.pieces.length }}</div>
        <mat-icon (click)="toggle()"
                  [class.expanded]="album.expanded"
                  waves-light waves-effect mdbRippleRadius
        >{{ chevron }}
        </mat-icon>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col pieces" [class.visible]="album.expanded">
      <app-album-pieces [pieces]="album.pieces" [editable]="false"></app-album-pieces>
    </div>
  </div>
</mat-card>
