<mat-card *ngIf="album" class="album " style="margin-bottom: 20px;">
  <div class="row">
    <mat-toolbar style="margin: -14px 0 14px;">
      <span class="title">{{ album.Title }}</span>
      <span class="horizontal-spacer"></span>
      <mat-icon class="album-control"
                matTooltip="Reveal in Finder"
                (click)="openFinder(album.ID)"
      >open_in_browser</mat-icon>
      <mat-icon class="album-control"
                (click)="refetch(album.ID)"
                matTooltip="Refetch pieces and cuesheets"
      >replay
      </mat-icon>
      <mat-icon class="album-control"
                (click)="pause()"
                matTooltip="Pause player"
      >pause</mat-icon>
      <mat-icon class="album-control"
                (click)="tagedit()"
                matTooltip="Tag Editor"
      >edit</mat-icon>
    </mat-toolbar>
  </div>
  <div class="row">
    <div class="col first">
        <img src="{{ imgUrl }}{{ album.ID }}/album"
             (click)="openPic('front')"
             class="thumb">
    </div>
    <div class="col">
      <mat-chip-list class="composers">
        <mat-chip *ngFor="let composer of album.album_componisten "
        [removable]="removable" (remove)="removeComposer(composer)">
          {{ composer.FullName }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list class="performers">
        <mat-chip *ngFor="let performer of album.album_performers"
                  [removable]="removable" (remove)="removePerformer(performer)">
          {{ performer.FullName }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list class="tags">
        <mat-chip *ngFor="let tag of album.album_tags"
                  [removable]="removable" (remove)="removeTag(tag)">
          {{ tag.Name }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
        <img *ngIf="album.album_back_image"
             src="{{ imgBackUrl }}{{ album.ID }}/album"
             (click)="openPic('back')"
             class="back-thumb">
    </div>
    <div class="col">
      <table class="tags">
        <tr *ngFor="let key of objectKeys(album.album_metatags)">
          <td class="key">{{ key }}</td><td>{{ album.album_metatags[key] }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col">
      <app-album-cuesheets [cuesheets]="album.cuesheets" [albumid]="album.ID"></app-album-cuesheets>
    </div>
  </div>
  <div class="row" style="margin-top: -20px">
      <span class="horizontal-spacer"></span>
      <mat-icon class="opener" (click)="toggle()"
                [class.expanded]="album.expanded"
      >{{ chevron }}
        </mat-icon>&nbsp;
  </div>
  <div class="row">
    <div class="col pieces" [class.visible]="album.expanded">
      <app-album-pieces [pieces]="album.pieces"></app-album-pieces>
    </div>
  </div>
</mat-card>
