img.thumb {
  width: 300px;
}
img.back-thumb {
  width: 100px;
  position: absolute;
  bottom: 0;
}
.first {
  max-width: 320px;
}
.opener {
  position: absolute;
  right: 20px;
  bottom: 8px;
  font-size: 30px;
  color: #999;
  cursor: pointer;
}
.opener.expanded {
  //transform: rotate(180deg);
}
.pieces {
  max-height: 0;
  transition: max-height .25s ease-in;
  overflow-y: hidden;
}
.pieces.visible {
  max-height: 2000px;
  overflow-y: auto;
}
.tags td {
  vertical-align: top;
}
.key {
  color: brown;
}
.chips {
  margin: 4px 0 4px -14px;
}
