.recently-played {
  margin-bottom: 18px;
}
.play {
  opacity: .6;
  position: relative;
  top: 7px;
  color: orange;
  cursor: pointer;
}
.played {
  color: brown;
}
.invalid {
  color: red;
}
.piece-name {
  white-space: nowrap;
  max-width: 400px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.first-col {
  max-width: 350px;
}
