<div class="album-list chip-lists"
     *ngIf="filteredAlbums && filteredAlbums.length">
  <h3 mat-subheader class="list-header">{{ filteredAlbums.length }} albums</h3>
  <div class="wrapper">
    <div *ngFor="let album of filteredAlbums">
      <a (click)="toAlbum(album.ID)">
        <mat-card class="album-card">
          <mat-card-header class="album-header">
            <mat-card-title>
              {{ album.Title }}
            </mat-card-title>
          </mat-card-header>
          <div class="image-container">
            <img [src]="imgUrl + album.ID + '/album/212/-1/'"
                 class="album-image">
          </div>
        </mat-card>
      </a>
    </div>
  </div>
</div>

<!--<div>-->
  <!--<mat-list *ngIf="filteredAlbums && filteredAlbums.length">-->
    <!--<h3 mat-subheader class="list-header">{{ filteredAlbums.length }} albums</h3>-->
    <!--<mat-list-item *ngFor="let album of filteredAlbums">-->
    <!--<div class="">-->
      <!--<div class="img-container">-->
        <!--<a (click)="toAlbum(album.ID)">-->
          <!--<img-->
            <!--attr.data-src="{{ imgUrl }}{{ album.ID }}/album/-1/100/"-->
            <!--attr.albumid="{{ album.ID }}"-->
            <!--class="lazy thumb"-->
          <!--&gt;-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="text-container">-->
        <!--<div mat-line="">{{ album.Title }}</div>-->
        <!--<app-simple-chip-lists [album]="album"-->
                        <!--class="chips-list"-->
                        <!--mat-line-->
        <!--&gt;</app-simple-chip-lists>-->
      <!--</div>-->
    <!--</div>-->
    <!--</mat-list-item>-->
  <!--</mat-list>-->
<!--</div>-->
