<div class="list">
  <mat-list *ngIf="filteredAlbums && filteredAlbums.length">
    <h3 mat-subheader>{{ filteredAlbums.length }} albums</h3>
    <mat-list-item *ngFor="let album of filteredAlbums">
    <div class="">
      <div class="img-container">
        <a (click)="toAlbum(album.ID)">
          <img
            attr.data-src="{{ imgUrl }}{{ album.ID }}/album/-1/100/"
            attr.albumid="{{ album.ID }}"
            class="lazy thumb"
          >
        </a>
      </div>
      <div class="text-container">
        <div mat-line="">{{ album.Title }}</div>
        <app-chip-lists [album]="album"
                        [removable]="false"
                        [editable]="false"
                        [showimage]="false"
                        mat-line
        ></app-chip-lists>
        <mat-list *ngIf="album.filteredPieces" class="pieces-list">
          <mat-list-item *ngFor="let filteredPiece of album.filteredPieces">
            {{ filteredPiece.Name }}
          </mat-list-item>
        </mat-list>
        <div *ngIf="album.filteredPieces && album.filteredPieces.length" style="height: 12px;"
        ></div>
      </div>
    </div>
    </mat-list-item>
  </mat-list>
</div>
