img.thumb {
  height: 100px;
  margin-bottom: 12px;
  vertical-align: text-top;
}
.thumb > div {
  display: inline-block;
}
img.details {
  //width: 300px;
  margin-bottom: 20px;
}
.text-container {
  float: left;
  max-width: 520px
}
.mat-list-item {
  height: inherit !important;
}
