.mat-form-field {
  width: 200px;
  &.block {
    display: block;
  }
  &.fill {
    width: 100%;
  }
  &.author_id {
    width: 100px;
    margin-right: 12px;
  }
  &.author {
    width: calc(100% - 112px);
  }
  &.genre {
    width: calc(50% - 6px);
    margin-right: 12px;
  }
  &.date {
    width: calc(50% - 6px);
  }
  &.isbn {
    width: calc(50% - 6px);
    margin-right: 12px;
  }
  &.isbn13 {
    width: calc(50% - 6px);
  }
}
.thumb {
  width: 100px;
}
