<div *ngIf="album" class="album">
    <a href="album/{{ album.ID }}">
      <img
           attr.data-src="{{ imgUrl }}{{ album.ID }}/album"
           id="{{ album.ID }}"
           class="thumb lazy"></a>
    <div class="side">
      <div>{{ album.Title }}</div>
      <app-album-persons [persons]="album.album_componisten"></app-album-persons>
      <app-album-persons [persons]="album.album_performers"></app-album-persons>
      <app-chip-lists [album]="album"
                      [removable]="false"
                      [editable]="false"
                      [showimage]="false"
      ></app-chip-lists>
    </div>
  <mat-icon class="opener" (click)="album.expanded = !album.expanded"
            [class.expanded]="album.expanded"
  >
    keyboard_arrow_down</mat-icon>
<hr>
  <mat-card-content *ngIf="album.expanded">
    <img src="assets/finder.png"
         class="finder"
         title="Reveal in Finder"
         (click)="openFinder(album.ID)">
    <mat-icon class="refetch"
              (click)="refetch(album.ID)"
              title="Refetch pieces and cuesheets">
      replay
    </mat-icon>
    <app-album-pieces [pieces]="album.pieces"></app-album-pieces>
    <app-album-cuesheets [cuesheets]="album.cuesheets" [albumid]="album.ID">
    </app-album-cuesheets>
  </mat-card-content>
</div>
