<mat-progress-spinner *ngIf="!album"></mat-progress-spinner>
<div *ngIf="album" class="album"
            (keydown)="browse($event)"
            tabindex="0">
    <mat-card class="album-card">
      <app-album-header
        (reload)="reload($event)"
        (back)="back()" (forward)="forward()" (toList)="toList()"
        (updateimage)="updateImage($event)"
        [album]="album" [list]="list"
        [navBackwards]="navBackwards" [navForwards]="navForwards">
      </app-album-header>
      <div class="wrapper">
        <div class="thumb-container">
          <img [src]="imgSrc"
               (click)="openPic('front')"
               alt="cover"
               default="assets/not-found.png"
               class="thumb">
          <img *ngIf="album.album_back_image"
               [src]="albumBackImage(album.ID)"
               (click)="openPic('back')"
               alt="back-cover"
               class="back-thumb">
        </div>
        <app-album-metatags
          class="album-metatags"
          [album]="album"></app-album-metatags>
      </div>
    </mat-card>

  <app-album-all-cuesheets [album]="album"
                           [idpiece]="idpiece"
  ></app-album-all-cuesheets>
  <app-album-pieces [pieces]="album.pieces"
                    [idpiece]="idpiece"
                    [album]="album"
  ></app-album-pieces>

</div>
