<div class="movie-component row" *ngIf="movie">
  <div>
    <mat-card
      class="movie-card">
      <mat-card-header class="movie-header">
        <mat-card-title>
          {{ movie.DisplayTitle }}
        </mat-card-title>
      </mat-card-header>
      <div class="image-container">
        <img mat-card-image [src]="movie.ImageUrl" alt="cover missing"
             class="movie-image">
      </div>
      <mat-card-content class="movie-card-content">
        <a class="link"
           [routerLink]="['/director', movie.idRegisseur]">
          {{ movie.naamRegisseur }}
        </a>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="details">
    <button mat-menu-item
            (click)="toImdb()"
    >
      <mat-icon class="movie-control imdb"
                waves-light waves-effect
      >movie
      </mat-icon>
      <span>IMDb</span>
    </button>
    <div>
    <button mat-icon-button class="link vlc"
            (click)="play('vlc')">
      <mat-icon>play_arrow</mat-icon>vlc
    </button>
    </div><div>
      <button mat-icon-button class="link"
              (click)="play('media center')">
        <mat-icon>play_arrow</mat-icon>media player
      </button>
    </div>
    <div>
      <a class="link" (click)="toFinder()" [class.finderopened]="finderOpened">
        open Finder</a>
    </div>
    <div>
      {{ movie.Gemaakt }}
    </div>
    <div>
      <a [routerLink]="['/movies/jaar', movie.Jaar]" class="link">
         {{ movie.Jaar }}</a>
    </div>
    <div>
      <a class="link" (click)="toImdb()">{{ movie.Rating }}</a>
    </div>
    <div><button mat-button (click)="refetch()">
      spelers ophalen
    </button></div>
    <div>
      <span *ngFor="let actor of actors">
        <a [routerLink]="['/speler/naam', actor.name]" class="link">
          <div class="avatar">
            <img [src]="getImageUrl(actor.imageurl)" alt="no cover">
          </div>
          {{ actor.name }}
        </a>
      </span>
    </div>
    <div>
      <span *ngFor="let speler of spelers; let i = index">
        <a [routerLink]="['/speler/naam', speler.naam]" class="link">
        {{ speler.naam }}</a>
      <span *ngIf="i < spelers.length - 1">, </span>
      </span>
    </div>
    <div>{{ movie.genres }}</div>
  </div>
</div>

