<div *ngFor="let cuesheet of cuesheets"
>
  <mat-icon
    [class.played]="cuesheet.played"
    [class.invalid]="cuesheet.Invalid"
    class="play"
    waves-light waves-effect mdbRippleRadius
    (click)="play(cuesheet.ID)">
    play_circle_filled</mat-icon>
  <app-cuesheet-menu [cuesheet]="cuesheet" [album]="album"></app-cuesheet-menu>
  <div class="text-container">
    <div mat-line #topicTitle contenteditable="true"
          class="title"
          [textContent]="cuesheet.Title"
          (input)="model=topicTitle.innerText"
          (keydown)="titleKeydown($event, cuesheet.ID, topicTitle.innerText)">
    </div>
  </div>
</div>
