<mat-list
  class="app-collecties"
  *ngIf="(collections | startwith:startletter:'Title') as result">
  <div class="" *ngFor="let collectie of result">
    <div class="row collectie-row">
      <div class="col-2">
        <div class="img-container">
          <a [routerLink]="['/search', {idcoll: collectie.ID}]">
            <img alt="thumb"
              [src]="imageUrl(collectie.ID)"
              class="thumb"
            >
          </a>
        </div>
      </div>
      <div class="col-10">
        <div>
          {{ collectie.Title }}
        </div>
      </div>
    </div>
  </div>
</mat-list>

