<mat-list
  class="app-collecties"
  *ngIf="(collecties | startwith:startletter:'Title') as result">
  <h2>Collecties</h2>
  <h3 mat-subheader>{{ result.length }} {{ label }}</h3>
  <div class="" *ngFor="let collectie of result">
    <div class="row collectie-row">
      <div class="col-2">
        <div class="img-container">
          <a [routerLink]="['/search', {idcoll: collectie.ID}]">
            <img
              src="{{ imgUrl }}{{ collectie.ID }}/album/-1/100/"
              class="thumb"
            >
          </a>
        </div>
      </div>
      <div class="col-10">
        <div>
          {{ collectie.Title }}
        </div>
      </div>
    </div>
  </div>
</mat-list>

