.first,
.born {
  width: calc(50% - 6px);
  margin-right: 12px;
}
.last,
.died {
  width: calc(50% - 6px);
}
.first,
.last,
.born,
.died {
  display: inline-block;
}
.dates {
  margin-bottom: 6px;
}
.thumb {
  width: 100px;
}
