
<img #authorimage
     [src]="imageUrl + author.id + refresh"
     class="author-image" alt="author image">
<div class="dates">
  <span>{{ author.born }}</span> - <span>{{ author.died }}</span>
</div>
<div class="cmds">
  <button mat-button (click)="getCover()" [disabled]="!author.imgurl">get</button>
  <button mat-button (click)="edit()">edit</button>
  <button mat-button (click)="google()">google</button>
  <button mat-button (click)="wikipedia('nl')">wiki nl</button>
  <button mat-button (click)="wikipedia('en')">wiki en</button>
  <button mat-button (click)="storeWiki()" [disabled]="!wikiImg">store</button>
  <button mat-button (click)="remove()">-</button>
</div>

<img [src]="wikiImg" class="wiki-img" *ngIf="wikiImg">
<div class="wiki-description">{{ wikiDescription }}</div>
<div class="wiki-extract">{{ wikiExtract }}</div>

<form [formGroup]="formGroup" novalidate (ngSubmit)="save()" *ngIf="editAuthor">
  <mat-form-field class="{{ option.name }}" *ngFor="let option of options">
    <input matInput [placeholder]="option.label" [title]="option.label"
           [name]="option.name" [formControlName]="option.name">
    <mat-error *ngIf="hasError('last', 'required')">Title is required</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary"
          [disabled]="!formGroup.valid">Save</button>
</form>
