<mat-toolbar style="margin: -14px 0 0;" *ngIf="album">
  <mat-toolbar-row>
    <div #topicTitle
         contenteditable="true"
         class="title"
         [textContent]="album.Title"
         (input)="model=topicTitle.innerText"
         (keydown)="albumTitleKeydown($event, album.ID, topicTitle.innerText)">
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="sub">
    <div #topicDescription
         contenteditable="true"
         [textContent]="album.Description"
         (input)="model=topicDescription.innerText"
         (keydown)="albumDescriptionKeydown($event, album.ID, topicDescription.innerText)">
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="sub">
    <!-- collection (navigated) -->
    <div>
      <button mat-button
              (click)="back()"
              class="navig"
              [disabled]="!navBackwards">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <a (click)="toList()" class="link">
        <span>{{ list.title }}</span>
        <!--<span *ngIf="list.params.query"> ({{ list.params.query }})</span>-->
      </a>
      <button mat-button
              (click)="forward()"
              class="navig"
              [disabled]="!navForwards">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div *ngIf="album.mother && list && list.params && list.params.idcoll &&
            album.mother.ID != list.params.idcoll"
         class="collection-label"
    >
      <a (click)="toCollection()">
        <span>{{ album.mother.Title }}</span>
      </a>
    </div>
    <span class="horizontal-spacer"></span>

    <app-album-menu [album]="album"></app-album-menu>

  </mat-toolbar-row>
</mat-toolbar>
