.file-play {
  opacity: .5;
  position: relative;
  top: 7px;
  color: blue;
  cursor: pointer;
}
.file-played {
  color: green;
}
.text-container {
  display: inline-block;
  padding: 12px 0 0 12px;
}
