<form>
  <div class="search-fields">
    <app-typeahead
      *ngFor="let choice of filteredChoices"
      [placeholder]="choice.label"
      [displayfield]="choice.displayfield"
      [items]="choice.items"
      [(id)]="choice.id"
    ></app-typeahead>
    <mat-form-field>
      <input matInput #query
             placeholder="Zoek"
             title=""
             [formControl]="myControl"
      >
    </mat-form-field>
    <button mat-button *ngIf="query.value"
            matSuffix mat-icon-button aria-label="Clear"
            (click)="clearQuery()">
      <mat-icon>close</mat-icon>
    </button>
    <div>
      <button mat-button
              class="get-albums"
              (click)="getAlbums()">get albums</button>
      <button mat-button (click)="customize()">
        ...
      </button>
    </div>
  </div>
</form>
