<mat-form-field class="search-form">
  <input
    type="text"
    #query
    matInput
    placeholder="Titel" aria-label="zoek op"
    [formControl]="searchControl"
    [matAutocomplete]="auto1"
    id="query_t"
    (click)="$event.target.select()"
    class="query"
  >
  <mat-autocomplete
    #auto1="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="onSelectionChange()"
  >
    <mat-option *ngFor="let option of filteredOptions|async"
                [value]="option"
                [innerHTML]="option.Titel">
    </mat-option>
  </mat-autocomplete>
  <button
    mat-button *ngIf="query.value" matSuffix
    mat-icon-button aria-label="Clear"
    class="closer"
    (click)="query.value = ''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
