<!--<datalist id="composers">-->
  <!--<option *ngFor="let opt of composers" value="{{ opt.Name }}"></option>-->
<!--</datalist>-->
<!--<input type="text" list="composers" [(ngModel)]="composer">-->
<form>
  <div>
    <!-- select composer (autocomplete) -->
    <div class="row">
      <div class="col person-image-col">
        <div class="selected-image">
          <img *ngIf="selectedComposer && selectedComposer.ID"
               src="{{ imgUrl }}{{ selectedComposer.ID }}/componist">
        </div>
      </div>
      <div class="col" *ngIf="selectedComposer && selectedComposer.ID">
        {{ selectedComposer.Birth }} - {{ selectedComposer.Death }}
      </div>
    </div>
    <div class="label" [class.selected]="selectedComposer">Composer</div>
      <input type="text"
             placeholder="Composer"
             aria-label="Text"
             matInput
             [matAutocomplete]="auto1"
             [(ngModel)]="selectedComposer"
             (click)="select($event)"
             name="composer">
      <mat-autocomplete #auto1="matAutocomplete"
                        (optionSelected)="onSelectionChange('composer')"
                        [displayWith]="displayNameFn">
        <mat-option *ngFor="let opt of (composers | typedName:selectedComposer)" [value]="opt">
          {{ opt.Name }}
        </mat-option>
      </mat-autocomplete>
    <div *ngIf="selectedComposer" class="reset" (click)="selectedComposer = null">
      <mat-icon>clear</mat-icon></div>
    <br>

    <!-- select performer (autocomplete) -->
    <div class="row">
      <div class="col person-image-col">
        <div class="selected-image">
          <img *ngIf="selectedPerformer && selectedPerformer.ID"
           src="{{ imgUrl }}{{ selectedPerformer.ID }}/performer">
        </div>
      </div>
      <div class="col" *ngIf="selectedPerformer && selectedPerformer.ID">
        {{ selectedPerformer.Birth }} - {{ selectedPerformer.Death }}
      </div>
    </div>
    <div class="label" [class.selected]="selectedPerformer">Performer</div>
    <input type="text"
           placeholder="Performer"
           aria-label="Text"
           matInput
           [matAutocomplete]="auto2"
           [(ngModel)]="selectedPerformer"
           (click)="select($event)"
           name="performer">
    <mat-autocomplete #auto2="matAutocomplete"
                      (optionSelected)="onSelectionChange('performer')"
                      [displayWith]="displayNameFn">
      <mat-option *ngFor="let opt of (performers | typedName:selectedPerformer)" [value]="opt">
        {{ opt.Name }}
      </mat-option>
    </mat-autocomplete>
    <div *ngIf="selectedPerformer" class="reset" (click)="selectedPerformer = null">
      <mat-icon>clear</mat-icon></div>
    <br>


    <!-- select collection (autocomplete) -->
    <div class="selected-image">
      <img *ngIf="selectedCollection && selectedCollection.ID"
           src="{{ imgUrl }}{{ selectedCollection.ID }}/album">
    </div>
    <div class="label" [class.selected]="selectedCollection">Collection</div>
    <input type="text"
           placeholder="Collection"
           aria-label="Text"
           matInput
           [matAutocomplete]="auto3"
           [(ngModel)]="selectedCollection"
           (click)="select($event)"
           name="performer">
    <mat-autocomplete #auto3="matAutocomplete"
                      [displayWith]="displayTitleFn"
                      (optionSelected)="onSelectionChange()"
                      #collectionSelect>
      <mat-option *ngFor="let opt of (collections | typedTitle:selectedCollection)" [value]="opt">
        <!--<div class="selected-image">-->
          <!--<img src="{{ imgUrl }}{{ opt.ID }}/album">-->
        <!--</div>-->
        {{ opt.Title }}
      </mat-option>
    </mat-autocomplete>
    <div *ngIf="selectedCollection" class="reset" (click)="selectedCollection = null">
      <mat-icon>clear</mat-icon></div>
    <br>

    <!-- select tag (autocomplete) -->
    <div class="label" [class.selected]="selectedTag">Tag</div>
    <input type="text"
           placeholder="Tag"
           aria-label="Text"
           matInput
           [matAutocomplete]="auto4"
           [(ngModel)]="selectedTag"
           (click)="select($event)"
           name="tag">
    <mat-autocomplete #auto4="matAutocomplete"
                      [displayWith]="displayNameFn"
                      (optionSelected)="onSelectionChange()"
                      #tagSelect>
      <mat-option *ngFor="let opt of (tags | typedName:selectedTag)" [value]="opt">
        {{ opt.Name }}
      </mat-option>
    </mat-autocomplete>
    <div *ngIf="selectedTag" class="reset" (click)="selectedTag = null">
      <mat-icon>clear</mat-icon></div>
    <br>

  </div>
  <button mat-raised-button=""
          (click)="getAlbumsComponist()">get</button>
</form>

<div class="list">
  <ul>
    <li *ngFor="let mother of albumsContainer.mothers">
      <a (click)="getAlbum(mother)">{{ mother.Title }}</a>
    </li>
  </ul>
  <ul>
    <li *ngFor="let child of albumsContainer.children">
      <app-album-thumb [album]="child"></app-album-thumb>
    </li>
  </ul>
  <div *ngIf="albums && albums.length">
    {{ albums.length }} albums
    <ul>
      <li *ngFor="let album of albums" class="thumb">
        <app-album-thumb [album]="album"></app-album-thumb>
      </li>
    </ul>
  </div>
  <div *ngIf="selectedAlbum">
    {{ selectedAlbum.Title }}
    <ul>
      <li *ngFor="let album of albums" class="thumb">
        <app-album-thumb [album]="album"></app-album-thumb>
      </li>
    </ul>
  </div>
</div>
<app-album-details [album]="album"></app-album-details>
