<!--<datalist id="composers">-->
  <!--<option *ngFor="let opt of composers" value="{{ opt.Name }}"></option>-->
<!--</datalist>-->
<!--<input type="text" list="composers" [(ngModel)]="composer">-->
<form>
  <div>
    <!-- select composer (autocomplete) -->
    <div class="selected-image">
      <img *ngIf="selectedComposer && selectedComposer.ID"
           src="{{ imgUrl }}{{ selectedComposer.ID }}/componist">
    </div>
      <input type="text"
             placeholder="Composer"
             aria-label="Text"
             matInput
             [matAutocomplete]="auto1"
             [(ngModel)]="selectedComposer"
             (click)="select($event)"
             name="composer">
      <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn">
        <mat-option>-- clear --</mat-option>
        <mat-option *ngFor="let opt of (composers | typedName:selectedComposer)" [value]="opt">
          {{ opt.Name }}
        </mat-option>
      </mat-autocomplete><br>

    <!-- select performer (autocomplete) -->
    <div class="selected-image">
      <img *ngIf="selectedPerformer && selectedPerformer.ID"
           src="{{ imgUrl }}{{ selectedPerformer.ID }}/performer">
    </div>
    <input type="text"
           placeholder="Performer"
           aria-label="Text"
           matInput
           [matAutocomplete]="auto2"
           [(ngModel)]="selectedPerformer"
           (click)="select($event)"
           name="performer">
    <mat-autocomplete #auto2="matAutocomplete"
                      [displayWith]="displayFn">
      <mat-option>-- clear --</mat-option>
      <mat-option *ngFor="let opt of (performers | typedName:selectedPerformer)" [value]="opt">
        {{ opt.Name }}
      </mat-option>
    </mat-autocomplete><br>


    <!-- select collection (autocomplete) -->
    <div class="selected-image">
      <img *ngIf="selectedCollection && selectedCollection.ID"
           src="{{ imgUrl }}{{ selectedCollection.ID }}/album">
    </div>
    <input type="text"
           placeholder="Collection"
           aria-label="Text"
           matInput
           [matAutocomplete]="auto3"
           [(ngModel)]="selectedCollection"
           (click)="select($event)"
           name="performer">
    <mat-autocomplete #auto3="matAutocomplete"
                      [displayWith]="displayTitleFn"
                      #collectionSelect>
      <mat-option>-- clear --</mat-option>
      <mat-option *ngFor="let opt of (collections | typedTitle:selectedCollection)" [value]="opt">
        <!--<div class="selected-image">-->
          <!--<img src="{{ imgUrl }}{{ opt.ID }}/album">-->
        <!--</div>-->
        {{ opt.Title }}
      </mat-option>
    </mat-autocomplete><br>

    <!-- select collection (select) -->
    <!--<div class="selected-image">-->
      <!--<img *ngIf="selectedCollectionId"-->
           <!--src="{{ imgUrl }}{{ selectedCollectionId }}/album">-->
    <!--</div><br>-->
    <!--<mat-form-field>-->
      <!--<mat-select placeholder="Collection" #collectionSelect-->
                  <!--[(ngModel)]="selectedCollectionId" name="collection">-->
        <!--<mat-option>&#45;&#45; select &#45;&#45;</mat-option>-->
        <!--<mat-option *ngFor="let opt of collections" [value]="opt.ID">-->
          <!--<div class="selected-image">-->
            <!--<img class="lazy" attr.data-src="{{ imgUrl }}{{ opt.ID }}/album">-->
          <!--</div>-->
          <!--{{ opt.Title }}-->
        <!--</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field><br>-->
    <!--<div class="selected-image">-->
      <!--<img *ngIf="selectedPerformerId"-->
        <!--src="{{ imgUrl }}{{ selectedPerformerId }}/performer">-->
    <!--</div>-->

    <!--<mat-form-field>-->
      <!--<mat-select placeholder="Performer" #performerSelect-->
                  <!--[(ngModel)]="selectedPerformerId" name="performer">-->
        <!--<mat-option>&#45;&#45; select &#45;&#45;</mat-option>-->
        <!--<mat-option *ngFor="let opt of performers" [value]="opt.ID">-->
          <!--<div class="selected-image">-->
            <!--<img class="lazy" attr.data-src="{{ imgUrl }}{{ opt.ID }}/performer" style="height:30px;">-->
          <!--</div>-->
          <!--{{ opt.Name }}-->
        <!--</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->
  </div>
  <button mat-raised-button=""
          (click)="getAlbumsComponist()">get</button>
</form>

<div class="list">
<ul>
  <li *ngFor="let mother of albumsContainer.mothers">
    <a (click)="getAlbum(mother)">{{ mother.Title }}</a>
  </li>
</ul>
<ul>
  <li *ngFor="let child of albumsContainer.children">
    <app-album-thumb [album]="child"></app-album-thumb>
  </li>
</ul>
<div *ngIf="selectedAlbum">
  {{ selectedAlbum.Title }}
  <ul>
    <li *ngFor="let album of albums" class="thumb">
      <app-album-thumb [album]="album"></app-album-thumb>
    </li>
  </ul>
</div>
</div>
