.list {
  margin-top: 20px;
}
.selected-image {
  width: 70px;
  //height: 70px;
  overflow: hidden;
  display: inline-block;
  //padding: 10px;
  margin-right: 5px;
  //text-align: center;
}
.selected-image img {
  height: 70px;
  //margin: 0 auto;
}
.mat-option {
  height: auto;
}
ul {
  padding: 0;
}
.reset {
  float: right;
}
.reset mat-icon {
  color: #999;
  cursor: pointer;
}
