.list {
  margin-top: 20px;
}
.selected-image {
  width: 70px;
  //height: 70px;
  overflow: hidden;
  display: inline-block;
  //padding: 10px;
  margin-right: 5px;
  //text-align: center;
}
.person-image-col {
  max-width: 80px;
}
.selected-image img {
  height: 70px;
  //margin: 0 auto;
}
.mat-option {
  height: auto;
}
ul {
  padding: 0;
}
.reset {
  float: right;
}
.reset mat-icon {
  color: #999;
  cursor: pointer;
}
.label {
  position: relative;
  top: 20px;
  left: 10px;
  font-size: 2px;
  height: 0;
  transition: all 1s;
}
.label.selected {
  top: 0;
  left: 0;
  height: 14px;
  font-size: 12px;
}
