<app-chip-lists [album]="data.album"
                [removable]="true"
                [editable]="false"
                [showimage]="true"
                (close)="close($event)"
></app-chip-lists>
<div class="dialog-additionals">
  <mat-form-field>
    <mat-select placeholder="Composer" [(value)]="idcomp">
      <mat-option *ngFor="let componist of composers" value="{{componist.ID}}">
        {{componist.ReversedName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="addComposer()">{{ labelAdd }}</button>
  <button mat-button (click)="newComposer()">{{ labelNew }}</button>
  <br>
  <mat-form-field>
    <mat-select placeholder="Performer" [(value)]="idperf">
      <mat-option *ngFor="let item of performers" value="{{item.ID}}">
        {{item.ReversedName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="addPerformer()">{{ labelAdd }}</button>
  <button mat-button (click)="newPerformer()">{{ labelNew }}</button>
  <br>
  <mat-form-field>
    <mat-select placeholder="Tag" [(value)]="idtag">
      <mat-option *ngFor="let item of tags" value="{{item.ID}}">
        {{item.Name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="addTag()">{{ labelAdd }}</button>
  <button mat-button (click)="newTag()">{{ labelNew }}</button>
  <br>
  <mat-form-field>
    <mat-select placeholder="Instrument" [(value)]="idinstrument">
      <mat-option *ngFor="let item of instruments" value="{{item.ID}}">
        {{item.Name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="addInstrument()">{{ labelAdd }}</button>
  <button mat-button (click)="newInstrument()">{{ labelNew }}</button>
</div>
