<app-chip-lists [album]="data.album"
                [removable]="true"
                [editable]="false"
                [showimage]="true"
                (close)="close($event)"
></app-chip-lists>
<div class="dialog-additionals">

  <div *ngFor="let choice of choices">
    <app-typeahead
      [placeholder]="choice.placeholder"
      [displayfield]="choice.displayfield"
      [items]="choice.items"
      [(id)]="choice.id"
    ></app-typeahead>
    <button mat-button (click)="addItem(choice)" [disabled]="choice.id == -1">
      {{ labelAdd }}
    </button>
    <button mat-button (click)="newItem(choice)">{{ labelNew }}</button>
    <br>
  </div>

</div>
