<app-chip-lists [album]="data.album"
                [removable]="true"
                [editable]="true"
></app-chip-lists>
<div>
  <!-- select composer (autocomplete) -->
  <div class="label" [class.selected]="selectedComposer">Composer</div>
  <input type="text"
         placeholder="Composer"
         aria-label="Text"
         matInput
         [matAutocomplete]="auto1"
         [(ngModel)]="selectedComposer"
         (click)="select($event)"
         name="composer">
  <mat-autocomplete #auto1="matAutocomplete"
                    (optionSelected)="onComposerChange()"
                    [displayWith]="displayNameFn">
    <mat-option *ngFor="let opt of (composers | typedName:selectedComposer)" [value]="opt">
      {{ opt.Name }}
    </mat-option>
  </mat-autocomplete>
  <div *ngIf="selectedComposer" class="reset" (click)="selectedComposer = null">
    <mat-icon>clear</mat-icon></div>
  <br>

  <!-- select performer (autocomplete) -->
  <div class="label" [class.selected]="selectedPerformer">Performer</div>
  <input type="text"
         placeholder="Performer"
         aria-label="Text"
         matInput
         [matAutocomplete]="auto2"
         [(ngModel)]="selectedPerformer"
         (click)="select($event)"
         name="performer">
  <mat-autocomplete #auto2="matAutocomplete"
                    (optionSelected)="onPerformerChange()"
                    [displayWith]="displayNameFn">
    <mat-option *ngFor="let opt of (performers | typedName:selectedPerformer)" [value]="opt">
      {{ opt.Name }}
    </mat-option>
  </mat-autocomplete>
  <div *ngIf="selectedPerformer" class="reset" (click)="selectedPerformer = null">
    <mat-icon>clear</mat-icon></div>
  <br>

  <!-- select tag (autocomplete) -->
  <div class="selected-image"></div>
  <div class="label" [class.selected]="selectedTag">Tag</div>
  <input type="text"
         placeholder="Tag"
         aria-label="Text"
         matInput
         [matAutocomplete]="auto4"
         [(ngModel)]="selectedTag"
         (click)="select($event)"
         name="tag">
  <mat-autocomplete #auto4="matAutocomplete"
                    [displayWith]="displayNameFn"
                    (optionSelected)="onTagChange()"
                    #tagSelect>
    <mat-option *ngFor="let opt of (tags | typedName:selectedTag)" [value]="opt">
      {{ opt.Name }}
    </mat-option>
  </mat-autocomplete>
  <div *ngIf="selectedTag" class="reset" (click)="selectedTag = null">
    <mat-icon>clear</mat-icon></div>
  <br>

</div>
