<app-chip-lists [album]="data.album"
                [removable]="true"
                [editable]="true"
                [showimage]="true"
                (close)="close($event)"
></app-chip-lists>
<div>
  <!-- select composer (autocomplete) -->
  <input type="text"
         placeholder="Add Composer"
         aria-label="Text"
         matInput
         [matAutocomplete]="auto1"
         [(ngModel)]="selectedComposer"
         (click)="select($event)"
         (keydown)="onKeyDownComposer($event, selectedComposer)"
         name="composer">
  <mat-autocomplete #auto1="matAutocomplete"
                    (optionSelected)="onComposerChange()"
                    [displayWith]="displayNameFn">
    <mat-option *ngFor="let opt of (composers | typedName:selectedComposer)" [value]="opt">
      {{ opt.Name }}
    </mat-option>
  </mat-autocomplete>
  <br>

  <!-- select performer (autocomplete) -->
  <input type="text"
         placeholder="Add Performer"
         aria-label="Text"
         matInput
         [matAutocomplete]="auto2"
         [(ngModel)]="selectedPerformer"
         (click)="select($event)"
         (keydown)="onKeyDownPerformer($event, selectedPerformer)"
         name="performer">
  <mat-autocomplete #auto2="matAutocomplete"
                    (optionSelected)="onPerformerChange()"
                    [displayWith]="displayNameFn">
    <mat-option *ngFor="let opt of (performers | typedName:selectedPerformer)" [value]="opt">
      {{ opt.Name }}
    </mat-option>
  </mat-autocomplete>
  <br>

  <!-- select tag (autocomplete) -->
  <div class="selected-image"></div>
  <input type="text"
         placeholder="Add Tag"
         aria-label="Text"
         matInput
         [matAutocomplete]="auto4"
         [(ngModel)]="selectedTag"
         (click)="select($event)"
         (keydown)="onKeyDownTag($event, selectedTag)"
         name="tag">
  <mat-autocomplete #auto4="matAutocomplete"
                    [displayWith]="displayNameFn"
                    (optionSelected)="onTagChange()"
                    #tagSelect>
    <mat-option *ngFor="let opt of (tags | typedName:selectedTag)" [value]="opt">
      {{ opt.Name }}
    </mat-option>
  </mat-autocomplete>
  <br>

</div>
